<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  {{{style}}}
  <script src="remark.min.js"></script>  
  <script>
    function create() {
      return remark.create({
        {{{source}}},
        highlightLines: true,
        countIncrementalSlides: false,
        highlightStyle: 'github'
      });
    }
  </script>
  <script>
	// scale macro
	// ![:scale 50%;alttext](image.jpg)
	remark.macros.scale = function (param) {
		var url = this,
		[scale, alttext] = param.split(";")
		return '<img src="' + url + '" style="width: ' + scale + '" alt="'+ alttext + '"/>';
	};
  </script>
</head>
<body onload="slideshow = create()">
</body>
</html>
